.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  box-shadow: 0px 12px 0px 0px rgba(216, 216, 216, 0.5);

  span {
    font-size: 20px;
    font-weight: 600;
}

  .title {
    margin: 10px 0;
    font-size: 45px;
  }
}