.wrapper {
  width: 80%;
  margin: 50px auto;
  .contact-box {
    background: #f8fafa;
    display: flex;
    .contact-left {
      flex-basis: 60%;
      padding: 40px 60px;
      h3 {
        color: #087e8b;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 30px;
      }
      textarea {
        width: 100%;
        color: #ccc;
        border: none;
        background: #f8fafa;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
      }
      label {
        margin-bottom: 10px;
        display: block;
        color: #087e8b;
        font-size: 18px;
        font-weight: 700;
      }
      button {
        background: #087e8b;
        width: 300px;
        height: 40px;
        border: none;
        outline: none;
        color: #f8fafa;
        font-size: 18px;
        box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
        cursor: pointer;
        transition: .3s;
      }
      button:hover{
        border: 1px solid #087e8b;
        color: #087e8b;
        background: #f8fafa;
      }

      .input-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .input-group {
          flex-basis: 45%;

          input {
            width: 100%;
            border: none;
            background: #f8fafa;
            border-bottom: 1px solid #ccc;
            outline: none;
            padding-bottom: 5px;
          }
        }
      }
    }
    .contact-right {
      flex-basis: 40%;
      padding: 40px;
      background: #dbe4ee;
      color: #087e8b;
      h3 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 30px;
      }
      table {
        tr {
          td:first-child {
            padding-right: 20px;
          }
          td {
            padding-top: 30px;
          }
        }
      }
    }
  }
  h1 {
    margin-bottom: 10px;
    background: #f8fafa;
    width: 150px;
  }
  p {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
    background: #f8fafa;
    width: 500px;
  }
}

.maps{
  width: 100%;
  height: 500px;
  background: #f8fafa;
  overflow-x: hidden;
}