#footer {
  padding: 50px 0 30px;
  color:#606F7B; 
  background-color: rgb(165, 182, 198); 
  background-image: url('https://68.media.tumblr.com/f6a4004f3092b0d664daeabb95d5d195/tumblr_oduyciOJNb1uhjffgo1_500.gif');
  
}
