#footer {
  padding: 50px 0 30px;
  .container {
    .footer-row {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .footer-left-col {
        flex-basis: 50%;
        .footer-links {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .link-title {
            h4 {
              color: #087e8b;
              margin-bottom: 20px;
              font-size: 1.3rem;
            }
            small {
              font-size: 1rem;
              color: #777;
            }
          }
        }
      }
      .footer-right-col {
        flex-basis: 35%;
        .footer-info {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          flex-wrap: wrap;
          .footer-logo {
            width: 100px;
            .logo {
              width: 100px;
              transition: all 0.4s;

              &:hover {
                transform: scale(1.5);
              }
            }
            .common-btn {
              width: 100px;
              height: 40px;
              border: none;
              background: #087e8b;
              color: #f8fafa;
              cursor: pointer;
              box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
              transition: 0.5s;
            }
            .common-btn:hover {
              border: 1px solid #087e8b;
              color: #087e8b;
              background: #f8fafa;

              &:hover {
                transform: scaleX(1.1);
              }
            }
          }
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 38px;
            margin-top: 10px;
            margin-right: 20px;
            font-size: 15px;
          }
          .copyright,
          .footer-logo {
            flex-basis: 40%;
          }
        }
      }
    }
    hr {
      width: 100%;
      border: 0;
      border-top: 2px solid #ccc;
    }
  }
}
